.slider {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.slider input {display:none;}

.slider__circle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider__circle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
}

input:checked + .slider__circle {
  background-color: #6699ff;
}

input:focus + .slider__circle {
  box-shadow: 0 0 1px #6699ff;
}

input:checked + .slider__circle:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider__circle.slider__round {
  border-radius: 34px;
}

.slider__circle.slider__round:before {
  border-radius: 50%;
}

//Media styles

@media (max-width: 540px) {
  .slider {
    width: 41px;
    height: 20px;
  }

  .slider__circle:before {
    height: 12px;
    width: 12px;
  }

  input:checked + .slider__circle:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
}
