.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(64, 64, 64, 0.15);
  z-index: 1;
}

.header-links {
  flex-grow: 0;
  & > a{
    color: #7c7c7c;
    margin-left: 16px;
    text-decoration: none;
    font-size: 1.1em;
  }
}

.header-avatar {
  position: relative;

  &__image-wrapper {
    width: 40px;
    height: 40px;
  }
  &__image {
    cursor: pointer;
    width: inherit;
    height: inherit;
    border: 1px solid #cacaca;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.header-links-list {
  display: flex;
  align-items: center;

  &__item {
    
    > a {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.9em;
      color: #6e6e6e;
      border-bottom: 2px solid #fff;
      padding-bottom: 2px;
      position: relative;
      top: 4px;
      /* >span {
        margin-left: 8px;
      } */
    }

    > a:hover {
      color: rgb(0, 0, 0);
      border-bottom: 2px solid rgb(112, 112, 112);
    }
  }

  &__item-exit {
    > a {
      padding: 10px 16px;
      background-color: #6669fb;
      color: white;
      border-radius: 13px;
      border-bottom: none;
      top: 0;
    }

    > a:hover {
      color: #fff;
      border-bottom: #fff;
    }
  }

  &__item-margin {
    margin-left: 51px;
  }

  &__item_selected {
    > a {
      color: rgb(0, 0, 0);
      border-bottom: 2px solid rgb(112, 112, 112);
    }
  }

  &__item:not(:last-child) {
    margin-right: 32px;
  }
}

.header-logo {
  color:#6669FB;
  font-family: 'Quicksand', 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 0;
  display: flex;
  align-items: center;

  &__tag {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 0.5em;
    margin-left: 10px;
    position: relative;
    top: 1px;
    > span {
      font-weight: bold;
    }
  }

  &__dot {
    margin-right: 3px;
    position: relative;
    top: 1px;
  }
}


// Media styles
@media (max-width: 540px) {
  .header {
    padding: 0 6%;
    font-size: 13px;
    height: 60px;
  }
  .header-avatar__image-wrapper[data-v-61dd7a3d] {
    width: 35px;
    height: 35px;
  }
}
