.container {
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.main {
  font-size: 16px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &_black {
    background-color: rgba(0, 0, 0, 0.9s);
  }

  &_white {
    background-color: rgba(250, 250, 250, 0.9);
  }
}

.modal-inner {
  @extend .modal;
  position: absolute;
  z-index: 0;
}

.modal-container {
  margin: 0 14px;
  text-align: center;
}

.modal-confirm-block {
  &__message {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.45em;
    color: white;
  }
}

.modal50 {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.modal50:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

@keyframes fadeOut {
  0% { opacity: 0;}
  99% { opacity: 0.99;}
  100% { opacity: 1;}
}

@media (max-width: 540px) {
  .container {
    padding-top: 60px;
  }
}

@media (max-width: 570px) {


  .modal-confirm-block {
    font-size: 14px;
  }
}
