.info-modal {
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  position: fixed;
  right: 27px;
  bottom: 0;
  text-align: center;
  border-radius: 2px;
  padding: 13px;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
  transition: all 1s ease;
  max-width: 350px;
  z-index: 0;
}

.info-modal-danger {
  background-color: #ff5555;
}

.info-modal-warning {
  background-color: #fa993e;
}

.info-modal-show {
  opacity: 1;
  bottom: 97px;
}
