@font-face {
  font-family: Golos; /* Имя шрифта */
  src: url(/Golos-Text_Medium.woff2); /* Путь к файлу со шрифтом */
}

/* ------Common styles start here------ */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dashed-list li:before {
  content: "•";
  font-size: 1.4em;
  color: #676769;
  position: relative;
  top: -2px;
  padding-right: 10px;
}

li > p:first-child {
  display: inline;
}

img {
  border-radius: 1px;
}

:root {
  font-size: 16px;
}

/* ------Common styles end here------ */


/* ------h files start here------ */

.h1-default {
  font-size: 1.2em;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
}

.h2-default {
  font-size: 1.1em;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
}

.h3-default {
  font-size: 1em;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1em;
  color: #444444;
}

/* ------h1 files end here------ */

/* ------a files start here------ */

a {
  text-decoration: none;
}

/* ------a files end here------ */

/* ------Input files start here------ */
input {
  outline: none;
  border: none;
  padding: 0.8em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: all .5s ease;
}

input[type="submit"] {
  cursor: pointer;
}

.input_type-index {
  border-radius: 13px;
  background-color: #ecf6ff;
  color: #69676a;
  margin-top: 13px;
  padding: 15px 20px;
  font-size: 0.95em;
  width: 100%;
}

.input_type-main_submit {
  padding: 13px 16px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9em;
}

.input_type-test {
  width: 100%;
  background: transparent;
  font-size: 1.5em;
  padding: 13px 0;
  color: #444444;
}

.input_type-link {
  background-color: #e9e9e9;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  color: #444444;
  max-width: 480px !important;
}

.input_type-test-header {
  font-weight: 500;
}

.input_type-test-small {
  @extend .input_type-test;
  font-size: 1em;
  padding: 5px 13px;
  padding-left: 0;
}

.input_type-option {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #676769;
  background: transparent;
}

.input_type-submit_full {
  width: 100%;
  border-radius: 2px;
}

.input_theme-blue {
  background-color: #408fe9;
  color: white;
}

.input_theme-purple {
  background-color: #6769fc;
  color: white;
}

.input_theme-dark {
  background-color: #1d1d1d;
  color: rgb(247, 247, 247);
}
/* ------Input files end here------ */

/* ------Button files start here------ */
button, .button {
  outline: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.button-clasic {
  padding: 8px 13px;
  border-radius: 3px;
}

.button_type-index {
  @extend .button-clasic;
}

.button_type-question {
  @extend .button-clasic;
  flex-grow: 0;
}

.button_type-list {
  @extend .button-clasic;
  padding: 13px 21px;
  border-radius: 15px;
}

.button_theme-roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 0.87em;
}

.button_theme-roboto_small {
  font-family: 'Roboto', sans-serif;
  font-size: 0.87em;
}

.button_theme-mont {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95em;
}

.button_theme-green {
  background-color: #00aa33;
  color: white;
  @extend .button_theme-roboto;
}

.button_theme-red {
  background-color: #ff4c34;
  color: white;
  @extend .button_theme-roboto;
}

.button_theme-red_shadow {
  box-shadow: 0 3px 0 #b83524;
}

.button_theme-blue {
  background-color: #6699FF;
  color: white;
  @extend .button_theme-roboto;
}

.button_theme-blue_shadow {
  box-shadow: 0 3px 0 #376cd8;
}

.button_theme-purple {
  background-color: #6769fc;
  color: white;
}
/* ------Button files end here------ */

/* ------Form files start here */
.form_type-main {
  width: 100%;
  height: auto;
  display: inline-block;
}

.form_type-test {
  @extend .form_type-main;
  width: 100%;
}
/* ------Form files end here------ */


/* ------Display styles start here------ */
.none {
  display: none;
}

.block {
  display: block;
}


.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-start {
  align-items: start;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-vertical {
  flex-direction: column;
}

.d-none {
  display: none;
}

/* ------Display styles end here------ */

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute!important;
}

.wd100 {
  width: 100%;
}

/* ------Colors styles start here------ */

.bg-white-shadow {
  background-color: white;
  box-shadow: 0px 4px 0 #e0e0e0;
  border: 1px solid #ececec;
}

.bg-white-border {
  background-color: white;
  border: 1px solid #ececec;
}


/* ------Colors styles end here------ */

iframe {
  width: 100%;
}


//Common styles
.image-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;

  &__inner {
    padding: 8px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;

    > div {
      display: flex;
      cursor: pointer;
    }

    > div:not(:last-child) {
      margin-right: 13px;
    }
  }
}

.image-resizer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #6699ff;
  display: none;

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid #6699ff;
    background-color: #fff;
    position: absolute;
    cursor:nwse-resize;

    &-left {
      cursor: nesw-resize;
    }
  }
}

//media styles

@media (max-width: 470px) {
  .input_type-index {
    font-size: 0.85em;
  }
}
