/* ------Body files start here------ */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ------Body files end here------ */


/* ------h files start here------ */

.h1-default {
  font-size: 1.2em;
  color: #444444;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1em;
  color: #444444;
}

/* ------h1 files end here------ */


/* ------Input files start here------ */
input {
  outline: none;
  border: none;
  padding: 0.8em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
  cursor: pointer;
}

.input_type-index {
  border-radius: 2px;
}

.input_type-index:not(:last-child) {
  border-bottom: 1px solid #ECEAEA;
}

.input_type-test {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.5em;
  padding: 13px;
  padding-left: 0;
}

.input_type-test-small {
  @extend .input_type-test;
  font-size: 1em;
  padding: 5px 13px;
  padding-left: 0;
}

.input_type-option {
  width: 100%;
  border-radius: 10px;
}

.input_type-submit_full {
  width: 100%;
  border-radius: 2px;
}

.input_theme-blue {
  background-color: #408fe9;
  color: white;
}

.input_theme-dark {
  background-color: #1d1d1d;
  color: rgb(247, 247, 247);
}
/* ------Input files end here------ */

/* ------Button files start here------ */
button {
  outline: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.button-clasic {
  padding: 8px 13px;
  border-radius: 3px;
}

.button_type-index {
  @extend .button-clasic;
}

.button_type-question {
  @extend .button-clasic;
  flex-grow: 0;
}

.button_theme-roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.button_theme-green {
  background-color: #00aa33;
  color: white;
  @extend .button_theme-roboto;
}

.button_theme-red {
  background-color: #ff6e34;
  color: white;
  @extend .button_theme-roboto;
}

.button_theme-blue {
  background-color: #6699FF;
  color: white;
  @extend .button_theme-roboto;
}
/* ------Button files end here------ */

/* ------Form files start here */
.form_type-main {
  width: auto;
  height: auto;
  display: inline-block;
}

.form_type-test {
  @extend .form_type-main;
  width: 100%;
}
/* ------Form files end here------ */
