.container {
  align-items: flex-start;
  padding-top: 144px;
}

.main {
  width: auto;
  align-items: flex-start;
}

.test {
  flex: auto;
}

.side-panel {
  width: 55px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.1);
}

.test__block {
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 28px 34px;
  box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.1);
  position: relative;
}

.test__block_selected {
  border-left: 5px solid #6669FB;
}

.test__item {
  display: flex;
  align-items: flex-start;
}

.test__empty {
  font-family: "Roboto", sans-serif;
}

.test__question {
  width: 100%;
  display: flex;
}

.test__image {
  width: 100%;
  text-align: left;
  > img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.test__question-name {
  flex-grow: 1; 
  display: flex; 
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #494646;
}

.test__question-answer {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #686669;
}

.test__add-variant {
  width: 200px;
  background: transparent;
  border: 1px solid #6669FB;
  color: #6669FB;
  border-radius: 20px;
  text-align: center;
  padding: 13px 0;
}

.question-flex {
  display: flex;
  width: 100%;
  align-items: center;
}
