.container {
  padding: 70px 0;
}

.main {
  width: auto;
  align-items: flex-start;
  padding: 60px 0;
}

.poll__block {
  width: 630px;
  //min-height: 650px;
  height: auto;
  border-radius: 20px;
  padding: 34px;
}

.poll__block_wraper {
  display: flex;
  width: 630px;
  position: relative;
}

.poll-tag {
  font-size: 1.3em;
  color: #444444;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.poll-description {
  font-size: 1em;
  color: #444444;
  font-family: 'Roboto', sans-serif;
}

.poll-name {
  font-size: 1em;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.poll__question-answer {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #686669;
}

// Media styles
@media (max-width: 825px) {
  .poll__block {
    width: 500px;
  }
  
  .poll__block_wraper {
    width: 500px;
  }
}

@media (max-width: 720px) {
  
}
