.container {
  align-items: flex-start;
  padding-top: 144px;
}

.main {
  width: auto;
  align-items: flex-start;
}

.poll__block {
  width: 550px;
  //min-height: 650px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 13px;
}
