.container {
  align-items: flex-start;
  padding-top: 144px;
}

.main {
  width: auto;
  align-items: flex-start;
}

.test__block {
  width: 700px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 13px;
}

.test__item {
  display: flex;
  align-items: flex-start;
}

.test__empty {
  background-color: #6e6e6e;
}

.test__question {
  width: 100%;
  display: flex;
}

.test__image {
  width: 100%;
  text-align: left;
  > img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
