.container {
  align-items: flex-start;
  padding-top: 144px;
}

.main {
  width: auto;
  align-items: flex-start;
}

.test__block {
  width: 700px;
  height: auto;
  background-color: #ecf6ff;
  border-radius: 20px;
  padding: 34px;
}

.test__item {
  display: flex;
  align-items: flex-start;
}

.test__empty {
  background-color: #6e6e6e;
}

.test__question {
  width: 100%;
  display: flex;
}

.test__image {
  width: 100%;
  text-align: left;
  > img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.test__question-name {
  flex-grow: 1; 
  display: flex; 
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #676769;
}

.test__question-answer {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #686669;
}

.test__add-variant {
  width: 200px;
  background: transparent;
  border: 1px solid #6769fc;
  color: #6769fc;
  border-radius: 20px;
  text-align: center;
  padding: 13px 0;
}
