.main {
  padding: 60px 0;
}

@keyframes showEffect {
  0% { box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.1);}
  50% { box-shadow: 0 4px 18px #2bb673;}
  100% { box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.1);}
}

.scenario {
  width: 700px;
  height: auto;
  border-radius: 20px;
  padding: 21px;

  &_effect {
    -webkit-animation: showEffect 4s;
    animation: showEffect 4s;
  }

  &__header-preview {
    font-family: 'Raleway', 'Montserrat', 'Roboto', sans-serif;
    font-size: 28px;
    color: #444;
    word-spacing: 0px;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #444;

    /deep/ p {
      margin: 0;
    }
  }

  &__input {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border-radius: 2px;
    padding-left: 0;
    padding-bottom: 8px;
    width: 100%;
    color: #444;
  }

  &__header {
    font-family: 'Raleway', 'Montserrat', 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #444;
    word-spacing: 0px;
    padding:13px;
    padding-left: 0;
    width: 100%;
  }

  &__header::placeholder {
    color: #aaaaaa;
  }

  &__input::placeholder {
    color: #aaaaaa;
  }

  &-image {
    width: 100%;
    text-align: left;
    position: relative;
    display: flex;

    &__wraper {
      position: relative;
      max-width: 100%;

      > img {
        max-width: 100%;
        min-width: 400px;
        display: block;
      }
    }
  }
}

.scenario-success {

  &__message {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #444;
    margin: 0;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    > svg {
      margin-right: 13px;
    }
  }
}

.tiptap {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
  padding-left: 0;
  border-radius: 2px;
  border: 2px solid #eceaea;
}

.tiptap[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555; 
}

.tiptap[placeholder]:empty:focus::before {
  content: "";
}
