.main {
  padding: 60px 0;
}

.scenarios-menu {
  width: 600px;
  height: auto;
  padding: 21px;
  border-radius: 5px;
  z-index: 1;
  
  &__h3 {
    font-size: 0.9em;
    margin-top: 0;
  }
}

.scenarios-menu-item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #444;
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  
  &__header {
    background-color: rgb(230, 230, 230);
    justify-content: space-between;
    padding: 13px 21px;
  }

  &__options {
    padding: 13px 21px;
  }

  &__name {
    > span {
      position: relative;
      top: 1px;
    }
  }

  &__input {
    width: 50px;
    padding: 8px;
    color: #444;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 7px;
    text-align: center;
  }
}

.scenarios-menu-item:not(:last-child) {
  margin-bottom: 13px;
}
