.settings {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &__main {
    padding: 21px;
  }
}

.settings-group:not(:last-child) {
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 13px;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgb(172, 172, 172);
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95em;
    color: #444;
    position: relative;
  }

  &__before-right {
    width: 100%;
  }

  &__before-right::before {
    margin: 0!important;
    position: absolute;
    right: 0;
  }

  &__input {
    border-radius: 10px;
    border: 1px solid rgba(150,150,150,0.3);
  }

  &__password-setted {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgb(10, 233, 140);
  }
}

.settings-header {
  padding: 15px 21px;
  background-color: #6669fb;
  color: #fff;
  
  &__h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0;
  }
}
