.settings {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &__main {
    padding: 21px;
  }
}

.settings-tip-wraper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
}

.settings-group:not(:last-child) {
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 13px;
}

.svg-mobile {
  display: none;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgb(172, 172, 172);
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95em;
    color: #444;
    position: relative;
  }

  &__before-right {
    width: 100%;
  }

  &__before-right::before {
    margin: 0!important;
    position: absolute;
    right: 0;
  }

  &__input {
    border-radius: 10px;
    border: 1px solid rgba(150,150,150,0.3);
  }

  &__password-setted {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgb(10, 233, 140);
  }
}

.settings-header {
  padding: 15px 21px;
  background-color: #6669fb;
  color: #fff;
  
  &__h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0;
  }
}

.settings-group__mobile {
  display: none;
}

//Media styles

@media (max-width: 540px) {
  .settings-item__text {
    font-size: 0.85em;
  }

  .settings-item__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.87em;
    color: #acacac;
  }

  .settings-header__h2 {
    font-size: 0.9em;
  }

  .settings {
    margin-top: 8px;
    border-radius: 5px;
  }

  .svg-desktop {
    display: none;
  }

  .svg-mobile {
    display: block;
  }
  
  .settings-item__input {
    max-width: 170px;
  }

  .settings-item__password-setted {
    font-size: 0.8em;
  }

  .settings__main {
    padding: 13px;
  }
}

@media (max-width: 410px) {
  .settings-group__desktop {
    display: none;
  }

  .settings-group__mobile {
    display: block;
  }
}
