.stats {
  width: 600px;
  height: auto;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #DDDDDD;

  &__count {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: white;
  }
}

.main {
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 0;
}


.stats__question {
  font-family: 'Montserat', sans-serif;
  font-size: .95em;
  padding: 12px 19px;
  display: inline-block;
  background-color: rgba(232, 232, 232, 0.7);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
}

.test-stats__simple-answer {
  display: inline-block;
  background-color: rgb(48, 116, 184);
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.87em;
  color: white;
  border-radius: 5px;
  border: 1px solid #dadada;
}

.stats-header {
  background-color: #6669FB;
  padding: 13px;
  justify-content: space-between;

  &__name {
    display: inline-block;
    font-weight: bold;
    color: white;
  }
}

.stats-body {
  padding: 13px;
}
