.test-instruction {
  width: 700px;
  height: auto;
  background: white;
  border: 1px solid #eceaea;
  position: fixed;
  margin-top: 70px;
  border-radius: 15px;
  padding: 13px 21px;

  &__header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    color: #444;
  }

  &__image {
    max-width: 100%;
  }
}
